%div.row.well
  %div.col-sm-12

    .col-sm-9.media
      %div.row
        %div.col-sm-12
          %ul.nav.pull-left
            %li
              %a.btn.btn-primary
                Create challenge

          %ul.nav.nav-tabs.pull-right
            %li.active
              %a{"data-toggle" => "tab", :href => "#"} Home
            %li
              %a{"data-toggle" => "tab", :href => "/static_pages/profile", "target":"_blank"} Profile
            %li
              %a{"data-toggle" => "tab", :href => "/static_pages/organization", "target":"_blank"} Organizations & Projects





      %div.news{"data-example-id" => "default-media"}
        - 100.times do
          .media
            .media-left
              %a{:href => "#"}
                %img.media-object{:alt => "64x64", "data-holder-rendered" => "true", :src => "#{image_path ("avatars/%03d.jpg" % (1...60).to_a.sample)}", :style => "width: 64px; height: 64px;"}
            .media-body
              %h4.media-heading
                ="#{Faker::Name.name}"
              %p
                = "#{Faker::Hacker.say_something_smart}"



    %div.col-sm-3{:style => "overflow:hidden;"}
      .form-group
        .row
          .col-md-8
            #datetimepicker12
              :javascript
                $(function () {
                    $('#datetimepicker12').datetimepicker({
                        inline: true,
                        sideBySide: false
                    });
                });
